/*breekoy 2015*/

/*make the image circular*/
.circular-image{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

/*add a little bit margin*/
.container-fluid{
	margin-top: 20px;
}

/*make everything centered*/
.centered{
	text-align: center;
}

/*standard size for two sections (desktop view)*/
#section1, #section2{
	margin: 0 auto;
	width: 50%;
	height: 100%;
}

/*responsive workaround for iPhone 4 and iPhone 4s
(portrait and landscape)*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#section1, #section2{
  		width: 100%;
  	}
}

/*responsive workaround for iPhone 5 and iPhone 5s
(portrait and landscape)*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#section1, #section2{
  		width: 90%;
  	}
}

/*responsive workaround for iPhone 6
(portrait and landscape)*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	#section1, #section2{
  		width: 85%;
  	}
}

/*responsive workaround for iPhone 6+
(portrait and landscape)*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	#section1, #section2{
  		width: 80%;
  	}
}

/*Galaxy S3 (portrait and landscape)*/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
  	#section1, #section2{
  		width: 90%;
  	}
}

/*Galaxy S4 (portrait and landscape)*/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  	#section1, #section2{
  		width: 90%;
  	}
}

/*Galaxy S5 (portrait and landscape)*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  	#section1, #section2{
  		width: 85%;
  	}
}