/* desktop display */
section{
	margin: 0!important;
	width: 100%;
}

.circular-image{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	overflow: hidden;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

#heroSection{
	height:100vh;
}

#heroSection h2{
	font-family: 'Fira Sans', sans-serif;
}

.hero{
	text-align: center;
	display: table;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.hero-middle{
	display: table-cell;
    vertical-align: middle;
}

.hero-inner{
	margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

.hero, .hero a{
	color: #FFFFFF;
}

#skillSetSection{
	display: flex;
}

.sections{
	background-color: #FFFFFF;
}

.sections h1{
	color: #000000;
	margin-top: 30px;
	font-family: 'Fira Sans', sans-serif;
}

.skills-card {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) );
	text-align: center;
	display: inline-flex;
	width: 33%;
	padding: 5px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}

.experience-card{
	display: inline-flex;
	width: 49.8%;
	margin-top: 10px;
	text-align: center;
}

.experience-card.current-job{
	width: 100%;
}

#curent-job{
	width: 100%;
}

#experienceSection a{
	color: #FFFFFF;
}

#experienceSection .card{
	font-family: 'Roboto', sans-serif;
}

#experienceSection .card-body{
	color: #FFFFFF;
}

#experienceSection .card-title{
	margin-top: 5px;
	color: #FFFFFF;
}

.social{
	margin-top: 20px;
}

/* mobile devices display */
@media only screen 
  and (min-width: 1px)
  and (max-width: 750px)
  and (min-device-width: 1px) 
  and (max-device-width: 750px) {
  	.hero h2{
  		font-size: 125%;
  	}
  	.sections{
  		height:auto;
  	}

  	.circular-image{
		width: 60%;
		height: 60%;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		z-index: -1;
	}

	.skills-card {
		text-align: center;
		display: inline-flex;
		width: 100%;
		padding: 5px;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1em;
		width: 100%;
	}
}

@media only screen 
  and (min-width: 751px)
  and (max-width: 1199px)
  and (min-device-width: 751px) 
  and (max-device-width: 1199px) {

	.card-title{
		font-size: 250%;
	}
	.card-body{
		font-size: 200%;
	}

	.sections{
  		height:auto;
  	}

  	.skills-card {
		text-align: center;
		display: inline-flex;
		width: 100%;
		padding: 5px;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1em;
		width: 100%;
	}
}

@media only screen and (max-width: 1000px){
	#skillSetSection .card{
		width: 100%;
	}
}

@media only screen and (max-width: 1199px){
	.sections{
		height: auto;
	}

	#experienceSection .card{
		width: 100%;
	}
}

@media only screen 
	and (min-width: 1200px)
	and (max-width: 1600px)
	and (min-device-width: 1200px)
	and (max-device-width: 1600px){
		.sections{
	  		height:auto;
	  	}
	}


@media only screen and (min-width: 1601px){
	.sections{
		height: 100vh;
	}
}