section{
	margin: 0!important;
	width: 100%;
}

.circular-image{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	overflow: hidden;
}

#heroSection, .sections{
	height:100vh;
}

#heroSection h2{
	font-family: 'Fira Sans', sans-serif;
}

.hero{
	text-align: center;
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.hero-middle{
	display: table-cell;
    vertical-align: middle;
}

.hero-inner{
	margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

.hero, .hero a{
	color: #FFFFFF;
}

#skillSetSection{
	display: flex;
}

.sections{
	background-color: #FFFFFF;
}

.sections h1{
	color: #000000;
	margin-top: 25px;
	font-family: 'Fira Sans', sans-serif;
}

.skills-card {
	text-align: center;
	display: inline-flex;
	width: 33%;
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.3em;
}

.experience-card{
	margin-bottom: 5px;
	text-align: center;
}

#experienceSection a{
	color: #FFFFFF;
}

#experienceSection .panel-body{
	background-color: #FFFFFF;
	color: #000000;
}

.social{
	margin-top: 20px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1px) 
  and (max-device-width: 750px) {
  	.hero h2{
  		font-size: 125%;
  	}
  	.sections{
  		height:auto;
  	}

  	.circular-image{
	width: 60%;
	height: 60%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	z-index: -1;
	}

	.skills-card {
		text-align: center;
		display: inline-flex;
		width: 100%;
		padding: 5px;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1em;
	}
}

@media only screen 
  and (min-device-width: 751px) 
  and (max-device-width: 1199px) {

	.card-title{
		font-size: 250%;
	}
	.panel-body{
		font-size: 200%;
	}

	.sections{
  		height:auto;
  	}

  	#experienceSection .panel{
	width: 100%;
	}

	.skills-card {
		text-align: center;
		display: inline-flex;
		width: 33%;
		padding: 5px;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1em;
	}
}

@media only screen and (max-width: 1199px){
	#experienceSection .panel{
	width: auto;
	}
}